<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headPart"></div>
</head>
<div class="container" align=center>
    <body>
    <h2>Hello there!</h2>
    <p>Where would you like to go?</p>
    <span>
        <a th:href="@{/gourmet/registration}">Register as Gourmet</a> &nbsp; &nbsp;
        <a th:href="@{/meal/createMeal}">Add a meal</a>
    </span>
    <p><a th:href="@{/gourmet/allGourmets}">View list of Gourmets</a></p>
    <p><a th:href="@{/meal}">View list of Meals</a></p>
    </body>
</div>
</html>