<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/head :: headPart"></div>
</head>
<body>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Gourmet</th>
            <th>Meal</th>
            <th>Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rating : ${gourmetRatings}">
            <td><span th:text="${rating.gourmet}"></span></td>
            <td><span th:text="${rating.meal}"></span></td>
            <td><span th:text="${rating.mealRating}"></span></td>
            <td><a th:href="@{/}"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>